DB_LINK=

JWT_ACCESS_SECRET=
JWT_ACCESS_LIFETIME=

JWT_REFRESH_SECRET=
JWT_REFRESH_LIFETIME=

SALT_ROUNDS=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_TLS_PORT=

SCHEDULER_LINK=
SCHEDULER_CONCURRENCY=
SCHEDULER_INTERVAL=

GATEWAY_URL=
GATEWAY_USERNAME=
GATEWAY_PASSWORD=
GATEWAY_SERVER_ID=
GATEWAY_SERVER_PASSWORD=
GATEWAY_IPN=
GATEWAY_2FA_KEY=

COIN_MARKET_API_KEY=

RESTORE_PASSWORD_EXPIRE=
SERVER_URL=
RATES_PRECISION=
CORS_ORIGINS=
CORS_METHODS=

NOTIFICATION_URL=
NOTIFICATION_REST_TOKEN=

